body {
  font-family: Helvetica;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.doubleWide {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
}

.pldbHeader {
  margin-bottom: 10px;
}
.pldbHeader a {
  color: black;
  margin-right: 5px;
  font-size: 16px;
}
.highlightHit {
  font-weight: bold;
  color: #000;
}
.logoFont {
  font-weight: bold;
  font-family: Tahoma, Arial;
}
.pldbHeader a:hover,
.pldbFooter a:hover {
  color: black;
}
.gitHubTopRightLinkComponent {
  text-align: right;
  position: absolute;
  display: block;
  right: 20px;
  top: 8px;
}
.gitHubTopRightLinkComponent svg {
  width: 26px;
  fill: rgba(204, 204, 204, 0.5);
}
.gitHubTopRightLinkComponent svg:hover {
  fill: #333;
}

.pldbFooter {
  margin-top: 18px;
  color: #828282;
}
.pldbFooter a {
  color: #828282;
}
#headerSearch {
  border: 0;
  background: transparent;
  font-size: 16px;
  line-height: 1.5;
}

.autocomplete {
  background: #fff;
  z-index: 1000;
  font-size: 14px/22px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50, 0.6);
}
.autocomplete * {
  font: inherit;
}
.autocomplete > div {
  padding: 3px 4px;
}
.autocomplete .group {
  background: #eee;
}
.autocomplete > div.selected,
.autocomplete > div:hover:not(.group) {
  background: #e3e3e3;
  cursor: pointer;
}

.scrollFilePageTitle {
  font-size: 36px;
}

.scrollTableComponent {
  table-layout: auto;
}
.scrollTableComponent pre {
  max-width: 80ch;
  overflow: auto;
}
.scrollCodeBlockComponent {
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 3px;
  max-height: 50ch;
}
.dataTable th {
  cursor: pointer;
}
.dataTables_filter {
  float: right;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.citationSection {
  font-size: 10px;
}
.citationSection h4 {
  text-align: center;
}

.scrollCiteComponent {
  overflow: scroll;
  margin: 6px 0;
}

.pldbHomepageLink {
  color: #000;
  text-decoration: none;
  display: block;
}

/* todo: should be in treebase code? */
.searchResultsHeader {
  color: #333;
  margin-bottom: 3px;
  font-size: 12px;
  font-style: italic;
}

.searchResultFullText,
.searchResultName {
  color: #333;
}

.highlightHit {
  font-weight: bold;
  color: #000;
}

.tqlForm {
}

#tqlErrors {
  font-size: 10px;
  color: #333;
}

.tqlForm .CodeMirror {
  display: inline-block;
}

.tqlForm textarea {
  height: 8em;
  width: 60ch;
  border: 0;
}

.tqlForm input {
  height: 8em;
  vertical-align: top;
  width: 16em;
  border: 0;
  cursor: pointer;
}

.treeBaseSearchFormPadded {
  margin-top: 10px;
  margin-bottom: 10px;
}

.treeBaseSearchForm #searchFormInput {
  width: 500px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
}

.treeBaseSearchForm .searchButton {
  height: 50px;
  font-size: 16px;
  border: 0;
  color: rgb(11, 11, 11);
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.treeBaseSearchForm .searchButton:hover {
  background-color: rgb(207, 207, 207);
}

.treeBaseSearchForm .searchButton:active {
  background-color: rgb(187, 187, 187);
}

/* end search css */
